/*Base Rules are single element selectors that could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors.*/

body {
  overflow-x: hidden;
  margin: 0;
}

img {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

main {
  height: 1200px;
}

footer {
  height: 100px;
}

h1 {
  float: right;
  font-family: 'Open Sans', sans-serif;
  margin: 1%;
  font-size: 24px;
}

@media only screen and (min-width: 640px) {

  main {
    height: 800px;
  }

  input {
    display: none;
  }

  label {
    display: none;
  }
}
